AI_STUDIO_KEY=REPLACE_ME
GROQ_KEY=REPLACE_ME
TELEGRAM_TOKEN=REPLACE_ME
TELEGRAM_CHAT_ID=REPLACE_ME
ALPHA_VANTAGE_KEY=REPLACE_ME
GMAIL_ADDRESS=REPLACE_ME@gmail.com
GMAIL_APP_PASSWORD=REPLACE_ME
EMAIL_ALERT_SECRET=APEX_WOLF_2026
