Flask==3.0.3
gunicorn==22.0.0
requests==2.32.3
yfinance==0.2.43
pandas==2.2.2
google-generativeai==0.7.2
groq==0.11.0
python-telegram-bot==21.4
google-api-python-client==2.143.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
python-dotenv==1.0.1
